---
title: Blog Article
description: This is the description of one of the blog articles
tags: post
date: Created
location: Remote
type: article
---
<!DOCTYPE html>
<html lang="{{locale or 'en-us' }}">
    {% include "head-article.njk" %}
    <!-- Start Body -->
    <body>
        {% include "nav.njk" %}
        <article data-blog-post>
            <small class="info">
                <time datetime="{{page.date}}">{{page.date | readableDate(locale or 'en-us')}}</time> -
            {{content | localizedReadingTime(locale or 'en-us')}}
            </small>
            <h1>{{ title }}</h1>
            {% articleLabels difficulty, contentType, technologies %}
            {{content | safe}}
        </article>
        {% include "footer.njk" %}
    </body>
    <!-- End Body -->
</html>