---
keyword: page, generic, website
type: website
---
<!DOCTYPE html>
<html lang="{% if locale == 'el' %}el{% elif locale == 'tr' %}tr{% else %}en{% endif %}">
{% include "head-website.njk" %}
<!-- Start Body -->
<body>
    {% include "nav.njk" %}
    <main>
        {{content | safe}}
    </main>
    {% include "footer.njk" %}
</body>
<!-- End Body -->
</html>
