---
pagination:
  data: supportedLocales
  size: 1
  alias: locale
layout: page.njk
permalink: "{{ locale }}/404.html"
eleventyExcludeFromCollections: true
eleventyComputed:
  title: "{{ 'notFound.title' | i18n }}"
  description: "{{ 'notFound.message' | i18n }}"
---

<h1>{{ 'notFound.heading' | i18n }}</h1>

<p>{{ 'notFound.message' | i18n }}</p>

<p><strong>{{ 'notFound.suggestions' | i18n }}</strong></p>
<ul>
  <li>{{ 'notFound.checkUrl' | i18n }}</li>
  <li><a href="{% if locale == 'en-us' %}/{% else %}/{{ locale }}/{% endif %}">{{ 'notFound.goHome' | i18n }}</a></li>
</ul>

<p>{{ 'notFound.contactError' | i18n }}</p>